# Gemini API Key
gemini.key
task1.md

# Results
results/

# Python
__pycache__/
*.pyc

# Other
*.swp
.venv/

secvul-llm-study/datasets/juliet/*
secvul-llm-study/datasets/owasp_data/*
secvul-llm-study/datasets/CVEFixes_v1.0.7/cvefixed_java_method.csv
*.zip
*.gz
*.tgz
*.db